/* Base styles */
@import 'base/reset';
@import 'base/mixins';
@import 'base/theme';

html {
	scroll-behavior: smooth;
}

body {
	color: $color-black;
	font-family: $font-primary;
	font-size: 16px;
	font-style: normal;
}

/* Components */
@import 'components/search';
@import 'components/loader';
@import 'components/comment-card';

/* Views */
@import 'views/issues';
@import 'views/issue';
