/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

$font-primary: 'Open Sans', sans-serif;

/* Colors */
$color-white: #FFF;
$color-black: #000;
$color-light-gray: #F6F8FA;
$color-red: #E97158;
$color-green: #A0BC57;
